<div id="preview" class="preview">
  <img src="" >
</div>
<form>
  <input type="file" (change)="onFileChange($event)" placeholder="Hochladen">
  <button (click)="onUpload()">Speichern</button>
</form>

<form>
  <button (click)="onShow()">Anzeigen</button>
</form>
Bilder:
<span *ngFor="let image of images">
  <img src="{{ image.data }}" > 
</span>
