<div class="container blog-body">
<form (ngSubmit)="submit3()" #greeftingForm="ngForm">
        <div class="searchTitle">Nach weiteren Rezepten suchen</div>
        <div class="searchContainer">
        
        <div class="searchInputContainer">
          <input type="text" id="text" [(ngModel)]="name" name="text" required placeholder="Suche nach Zutaten">
        </div>
        <div>
          <button type="submit" class="btn">Suche</button>
        </div>
     
        </div>
</form>
</div>
  
        
<div class="album py-5 bg-light ansicht">
        
        <div class="container">
                <h5 _ngcontent-c1="" class="jumbotron-heading titel">Rezepte ohne Einkaufen</h5>
                <br>
           
          <div class="row">
              
            <div class="col-md-4 boxabstand" *ngFor="let recipe of recipes">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.nottingham.ac.uk/ConnectOnline/Images/2017/Pigs-Trotters-350x225.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                  <p class="card-text">{{recipe.instruction}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>


<div class="album py-5 bg-light">
        <div class="container">
        
                <h5 _ngcontent-c1="" class="jumbotron-heading titel">Rezepte mit Einkaufen</h5>
                <br>
           
          <div class="row">
              
            <div class="col-md-4 boxabstand" *ngFor="let recipe2 of recipes2">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.nottingham.ac.uk/ConnectOnline/Images/2017/Pigs-Trotters-350x225.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{recipe2.title}}</h5>
                  <p class="card-text">{{recipe2.instruction}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

