.card-text{

    white-space: nowrap;
    width: 100%;                   
    overflow: hidden;              
    text-overflow: ellipsis;

}

.boxabstand {
    margin-bottom: 15px;
}
.blog-body{
    border-radius: 10px;
    background-color: rgb(255, 137, 20);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
    


}
    
    .searchTitle {
    font-size: 28px;
    margin-bottom: 15px
    }
    
    .searchContainer {
    display: flex;
    justify-content: start;
    }
    
    .searchInputContainer {
    width: 80%;
    }
    
    .searchInputContainer input {
    width: 100%;
    padding: 8px 16px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: none;
    outline: none;
    }


    
    .searchContainer button {
    padding: 8px 30px;
    border-radius: 0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: none;
    }
    