<!--The content below is only a placeholder and can be replaced.-->


<div class="container blog-body">
    <section class="jumbotron text-center titelbild">
        <div class="container titeltextbg">
            <h1 class="jumbotron-heading textfarbe">Lebensmittellagerung</h1>
            <p class="lead text-muted textfarbe">Die richtige Lagerung verlängert die Lebensdauer eurer Lebensmittel immens! Probiert es einfach aus...
            </p>
    
    
      <div class="main-container">
    
          <div class="searchBackground">
          
          </div>
          </div>
        </div>
      </section>
  
  
  <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
           
              

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="assets/vorrat.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Vorratsschrank/ -kammer</h5>
                        <p class="card-text">

                            Welche Lebensmittel gehören in den Vorratsschrank?
                            <li>Konserven</li>
                            <li>Mehl</li>
                            <li>Salz</li>
                            <li>Trockenprodukte (Cerealien, Nudeln, Reis)</li>
                            <li>Zucker</li>
                            <br>
                            Generell ist das Folgende zu beachten:
                              <li>Euer Vorratsschrank sollte möglichst nicht von der Sonne aufgeheizt werden und kühl liegen.</li>
                              <li>Beachtet, dass eine gute Belüftung garantiert sein sollte.</li>
                              <li>Lebensmittel entsprechend des Haltbarkeitsdatums einsortieren. (Neben oder hinter dem angebrochenen Produkt das verschlossenen Ersatzprodukt lagern, welches als nächstes abläuft. Neue Vorräte werden nach hinten gestellt.)</li>
                              <li>Verpackungen, die angebrochen sind sollten entweder luftdicht verschlossen oder der Inhalt in ein wiederverwendbares Gefäß aus z.B. Glas oder Plastik umgefüllt werden.</li>
                              <li>Eingekochte Lebensmittel sollten ebenso wie die eingefrorenen Lebensmittel mit einem Datum und einer Information über den entsprechenden Inhalt versehen werden.</li>
                              <li>Wölben sich Konserven oben oder unten, dann ist die Ware verdorben. Es wird vom Verzehr abgeraten.</li>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="assets/kuehlschrank.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Kühlschrank</h5>
                        <p class="card-text">
                          
                            Welche Lebensmittel gehören in den Kühlschrank?
                            <li>Zubereitete Speisen, Reste zubereiteter Speisen</li>
                            <li>Lagerung frischer und schnellverderblicher Lebensmittel </li>
                            <li>Fleisch, Fleischwaren, Fisch, Fischwaren</li>
                            <li>Milch, Milchprodukte, Käse, Butter</li>
                            <li>Eier</li>
                            <li>Dressing, Soßen (geöffnet)</li>
                            <li>Einige Ölsorten</li>
                            <li>Marmelade, Gelee (geöffnet)</li>
                            <br>
                            Kühlschrankgeeignetes Obst:
                              <li>Apfel (>7 Tage)</li>
                              <li>Aprikosen</li>
                              <li>Beeren (Brombeeren, Erdbeeren, Heidelbeeren, Himbeeren)</li>
                              <li>Feigen</li>
                              <li>Kirschen</li>
                              <li>Trauben</li>
                            <br>
                            Kühlschrankgeeignetes Gemüse:
                              <li>Artischocken</li>
                              <li>Blattgemüse</li>
                              <li>Brokkoli</li>
                              <li>Erbsen</li>
                              <li>Grüne Bohnen</li>
                              <li>Gurke</li>
                              <li>Kohl</li>
                              <li>Kräuter (Ausnahme: Basilikum)</li>
                              <li>Lauch, Lauchzwiebeln</li>
                              <li>Mais</li>
                              <li>Möhren</li>
                              <li>Pilze</li>
                              <li>Radieschen</li>
                              <li>Rettich</li>
                              <li>Rote Beete</li>
                              <li>Salat/ Salatmischung (Chicorée, Endivie, Eisberg…)</li>
                              <li>Sellerie</li>
                              <li>Spargel</li>
                              <li>Spinat</li>
                            
                              <br>
                            Obst, das bei Zimmertemperatur reifen und im Kühlschrank lediglich gelagert werden sollte:
                              <li>Avocado</li>
                              <li>Birne</li>
                              <li>Kiwi</li>
                              <li>Nektarine</li>
                              <li>Pfirsich</li>
                              <li>Pflaume</li>
                              <li>Zwetsche</li>  

                              Für nähere Informationen zum Einräumen des Kühlschrankes bitte <a href="https://www.haushaltstipps.com/Technik/Haushaltsgeraete/Kuehlschrank/richtig-einraeumen.html">hier</a> klicken.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="assets/gefrierschrank.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Gefrierschrank</h5>
                          <p class="card-text">
                              Welche Lebensmittel gehören nicht in den Gefrierschrank?
                              <li>Eier</li>
                              <li>Gurken</li>
                              <li>Melone</li>
                              <li>Milchprodukte (Creme Fraîche, Joghurt...)</li>
                              <li>Radieschen</li>
                              <li>Rohe Kartoffeln</li>
                              <li>Rohe Äpfel</li>
                              <li>Rohe Birnen</li>
                              <li>Salate</li>
                              <li>Tomaten</li>
                              <li>Weintrauben</li>
                              <li>Zwiebeln</li>
                              <br>
                              Generell ist das Folgende zu beachten:
                                <li>Obst und Gemüse vorab waschen und je nach Produkt schälen/ entkernen und zerkleinern.</li>
                                <li>Zum Erhalt der Vitamine sollte einiges Gemüse vor dem Einfrieren blanchiert werden. </li>
                                <li>Lieber kleine Portionen einfrieren, damit bei der späteren Verarbeitung nichts verschwendet wird. </li>
                                <li>Zur luftdichten Verpackung empfehlen sich wiederverwendbare Plastikdosen. (Bitte das Einfrieren in Plastiktüten vermeiden, denkt an die Umwelt!)</li>
                                <li>Vermerken welche Lebensmittel sich in der Verpackung befinden und wann sie eingefroren wurden. Hierdurch wird verhindert, dass die Lebensmittel „vergessen“ und in der Folge ungenießbar werden. Bitte informiert euch über die Haltbarkeit eurer Lebensmittel im Gefrierschrank.</li>
                                <li>Lagert die Lebensmittel sortiert im Gefrierschrank um die Übersicht zu behalten und das Verderben der Nahrung zu verhindern. (Nahrung älteren Datums am Besten sichtbar lagern und ähnliche Lebensmittel am selben Ort verwahren.)</li>

                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
            



                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="assets/raum.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Lagerung bei Raumtemperatur</h5>
                          <p class="card-text">

                              Welches Obst sollte bei Raumtemperatur gelagert werden?
                              <li>Ananas</li>
                              <li>Apfel (max. 7Tage) </li>
                              <li>Banane</li>
                              <li>Mandarine</li>
                              <li>Mango</li>
                              <li>Papaya</li>
                              <li>Melone (Honig, Wasser...)</li>
                              <li>Zitrusfrüchte (Grapefruit, Nektarinen, Orange, Zitrone...)</li>
                            
                              Welches Gemüse sollte bei Raumtemperatur gelagert werden?
                              <li>Aubergine</li>
                              <li>Basilikum</li>
                              <li>Gurke</li>
                              <li>Ingwer</li>
                              <li>Paprika</li>
                              <li>Tomate</li>
                              <li>Zucchini</li>
                          
                            Was sollte möglichst in einem abgedunkelten und gut gelüfteten Raum gelagert werden?
                            <li>Kartiffeln</li>
                            <li>Knoblauch</li>
                            <li>Zwiebeln</li>
                          
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="assets/haltbarkeit.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Haltbarkeit verlängern</h5>
                            <p class="card-text">

                                Ihr könnt eure Lebensmitte neben dem Kühlen oder Einfrieren zudem durch ein paar Handgriffe länger haltbar machen. Hier ein wenig Inspiration für euch:
                                <li>Zuckern: Gelee, Kandierte Früchte und Sirup sind süße Haltbarkeitswunder.</li>
                                <li>Salzen: Fisch und Fleisch können durch Salzen oder Pökeln länger haltbar gemacht werden.</li>
                                <li>Vakuumieren: Wegen des Einsatzes von Plastik ist das Vakuumieren nur eingeschränkt zu empfehlen. Bevor Lebensmittel allerdings verderben ist dies eine adäquate Alternative.</li>
                                <li>Trocknen: Hülsenfrüchte, Kräuter und Obst eignen sich hier besonders gut.</li>
                                <li>Einkochen: Wie wäre es mit einem Gemüse oder Obst Chutney, einem eigenen Apfelmus oder selbst eingekochtem Saft?</li>
                                <li>Einlegen: Sowohl Salzlake, als auch Öl und Alkohol können zur Hand genommen werden um die Haltbarkeit von Nahrung zu verlängern.</li>
                                <li>Räuchern: Selbstverständlich eine etwas aufwendigere Alternative aber eine geräucherte Forelle hat schon ihre Vorteile.</li>
                                <li>Säuern: Essig wird hier zum Wundermittel um Bohnen, Kraut oder anderes Gemüse zu konservieren. </li>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="assets/info.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Generelle Informationen</h5>
                      <p class="card-text">
                          Sinn dieser Plattform ist es, die Lebensmittel, die im eigenen Haushalt vorhanden sind optimal zu nutzen und deren Verschwendung zu verhindern. Doch ein wichtiger Teil des nachhaltigen Umganges mit den Lebensmitteln ist deren richtige Lagerung!
                          Werden die Lebensmittel richtig gelagert, bleiben diese länger frisch und haltbar. Um eine Verschwendung durch vorzeitiges Verderben der Nahrung zu verhindern sollten die folgenden Aspekte beachtet werden:
                          <br>
                              <li>Lebensmittel schon möglichst frisch einkaufen</li>
                              <li>Lebensmittel sofort an den richtigen Lagerort räumen, wenn die Einkäufe zu Hause ankommen</li>
                              <li>Lebensmittel richtig verpacken!</li>
                            
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>

                     

                            
            
           

          </div>
        </div>
      </div>
    </div>

   
