.nav{
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}


.nav a {
    padding: 5px;
    background-color: white;
    text-decoration-color: black;
    width: 113.93px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 30%;
}

.navbar a:hover {
text-decoration: none;
color: white;
background-color: rgb(41, 41, 41);
}

