<div class="container">
  <section class="jumbotron text-left" style=" background-color:#FF8914;">

    <div class="container"></div>
    <div style="display: flex; justify-content: space-between;
                align-items: center;">
      <h5 _ngcontent-c1="" class="jumbotron-heading titel">Alle Rezepte</h5>


      <div _ngcontent-c1="" class="sort-field"><button _ngcontent-c1="" class="btn btn-light sort-button" type="button">Älteste</button><button
          _ngcontent-c1="" class="btn btn-light sort-button" type="button">Neueste</button></div>
    </div>


    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          <div class="col-md-4 boxabstand" *ngFor="let recipe of recipes">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://www.nottingham.ac.uk/ConnectOnline/Images/2017/Pigs-Trotters-350x225.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{recipe.title}}</h5>
                <p class="card-text">{{recipe.instruction}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" [routerLink]="['/view-recipe',recipe.id]" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>