.blog-body{
    border-radius: 20px;
    background-color:#F5B901;
  

}
.titel{
    text-align: center;
}

.sort-field{
    float: right;

}

.item.col-12.col-lg-4 {
    margin: 10px 0;
}

.card{
    height: 100%;
}
.card-text{

    white-space: nowrap;
    width: 100%;                   
    overflow: hidden;              
    text-overflow: ellipsis;

}

.boxabstand {
    margin-bottom: 15px;
}
