@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
    
  }
}

h2{
  font-size: 2rem;
    margin-left: 15px;
}

#registrierenbutton{
margin-left: 41px;
width: -webkit-fill-available;
background-color: #FF8914;
}

.blog-body{
  border-radius: 20px;
  background-color: rgb(255, 137, 20);
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 25px;
  margin-bottom: 30px;
}

.titelbild{
  background-image: url(/assets/login.jpg);
  background-size: cover;
}

.titeltextbg{

 background-color: rgba(0,0,0,0.5);
}
.textfarbe{
 color: #fff !important;
}
