<div class="container blog-body">
        <section class="jumbotron text-center titelbild">
            <div class="container titeltextbg">
                <h1 class="jumbotron-heading textfarbe">Registriere dich und nutze alle Vorteile unserer Webseite</h1>
                <p class="lead text-muted textfarbe">
                  Wir freuen uns auf dich!
                </p>


          <div class="main-container">

              <div class="searchBackground">

              </div>
              </div>
            </div>
          </section>
        <div class="album py-5 bg-light">

<div class="container">
    <form class="form-horizontal" role="form" #signupForm="ngForm" (ngSubmit)="signup()">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
               <strong> <h2>Willkommen</h2> </strong>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Benutzername</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="name" class="form-control" id="newusername" [(ngModel)]="newusername"
                               placeholder="Muster Mustermann" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">E-Mail Addresse</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="newemail" [(ngModel)]="newemail"
                               placeholder="z.B. m.mustermann@beispiel.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put e-mail validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Passwort</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="newpassword" [(ngModel)]="newpassword"
                               placeholder="Passwort" required>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" routerLink='' (click)="signup()"id="registrierenbutton" style="border: none"><i class="fa fa-user-plus"></i> Registrieren</button>
            </div>
        </div>
    </form>
</div>


</div>
</div>
