<div *ngIf="user !== null">
  user-info: {{ user|json }}
  <button (click)="logout()">Logout</button>
</div>
<tbody>
  <tr *ngFor="let user of users">
    <td class="hidden">{{user.id}}</td>
    <td>{{username}}</td>
    <td>{{useremail}}</td>
    <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
  </tr>
</tbody>
<app-login-form *ngIf="user === null"></app-login-form>