.blog-body{
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
}

.miner {
    display: flex;
    align-items: flex-start;
}

.mine { 
    
    display: flex;
    float:left;
    width:55%;
}

.image-info{
    float: right;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    width: 40%;
}

.checked {
    color: #D64E3E;
}
.blog-body{
    border-radius: 20px;
    background-color: rgb(255, 137, 20);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
  }
  
  .titelbild{
    background-image: url(/assets/essen.jpg);
    background-size: cover;
  }
  
  .titeltextbg{
  
   background-color: rgba(0,0,0,0.5);
  }
  .textfarbe{
   color: #fff !important;
  }
  
