<!--The content below is only a placeholder and can be replaced.-->


<div class="container blog-body">
    <section class="jumbotron text-center titelbild">
        <div class="container titeltextbg">
            <h1 class="jumbotron-heading textfarbe">Lebensmittelverschwendung</h1>
            <p class="lead text-muted textfarbe">Wir möchten das Verschwenden von Lebensmitteln verhindern. Helft uns dabei!
            </p>
    
    
      <div class="main-container">
    
          <div class="searchBackground">
          
          </div>
          </div>
        </div>
      </section>
  
  
  <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
           
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="assets/gemeinsamkochen.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lebensmittel gemeinsam verbrauchen</h5>
                      <p class="card-text">Stehen eine Feier oder ein gemeinsamer Abend mit Freunden an? Dann erspart euch den extra Einkauf und schaut was ihr aus euren gemeinsamen Vorräten zaubern könnt. Häufig lässt sich aus dem eigenen Kühlschrankinhalt nicht mehr allzu viel Spannendes kochen, werden jedoch die Vorräte von mehreren Haushalten bedacht, können super Gerichte entstehen.</p>
                      <div class="d-flex justify-content-between align-items-center">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="assets/plattformen.png" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Plattformen nutzen</h5>
                        <p class="card-text">Diverse andere Plattformen wie foodsharing.de oder auch essensretter.de unterstützen das Verhindern von Lebensmittelverschwendung bereits. Anstatt Lebensmittel wegzuschmeißen spende sie an jemanden der sie gebrauchen kann. Oder verbrauche die Reste, die in Restaurants übrigbleiben und weggeschmissen werden würden, anstatt einkaufen zu gehen.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="assets/schimmel.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Vorräte rechtzeitig verbrauchen</h5>
                          <p class="card-text">Stehen ein längerer Urlaub oder ein Wochenendausflug an und der Kühlschrank ist noch voll? Dann verschenke deine Reste an den Nachbarn, frage deine Freunde, ob sie noch einige deiner Lebensmittel verbrauchen können oder veranstalte einen Resteverwertungsabend bevor der Ausflug startet. Zudem sollte vorausschauend eingekauft werden und das Anhäufen von Vorräten vor einem längeren Urlaub vermieden werden.</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>
            

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="assets/mhd.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Mindesthaltbarkeit (MHD)</h5>
                        <p class="card-text">Beim Einkaufen sollte auf das MHD geachtet werden. Wird ein Produkt noch am selben Tag verbraucht empfiehlt es sich auch die Lebensmittel zu kaufen, deren MHD bald abläuft. Auch zu Hause sollte nicht jedes Nahrungsmittel mit abgelaufenem MHD einfach weggeschmissen werden. Prüft die Lebensmittel optisch, ihren Geruch und macht eine kleine Geschmacksprobe wenn ihr euch nicht sicher seid. Das MHD ist nur eine Empfehlung, die Nahrung kann häufig auch bei überschrittenem MHD noch konsumiert werden.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="assets/einkaufen.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Spontanes Einkaufen</h5>
                          <p class="card-text">Jeder Einkauf sollte gut durchdacht werden um das doppelte Kaufen von Lebensmitteln zu vermeiden oder gegen Lockangebote gewappnet zu sein. Es sollte möglichst nur das gekauft werden, was auch benötigt wird. Daher geht nicht hungrig einkaufen, ihr werdet viel mehr unnötige Lebensmittel kaufen, wenn ihr nicht satt seid.</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                          <img class="card-img-top" src="assets/regional.jpg" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">Kauft regional</h5>
                            <p class="card-text">Viele Lebensmittel verderben schon auf den teilweise sehr langen und unnötigen Transportwegen. Es empfiehlt sich, wenn möglich regional bei Bauern vor Ort zu kaufen oder auf als „regional“ deklarierte Lebensmittel im Supermarkt zu achten.</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                          </div>
                        </div>
                      </div>

                     

                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                  <img class="card-img-top" src="assets/doggybag.jpg" alt="Card image cap">
                                  <div class="card-body">
                                      <h5 class="card-title">Doggy Bag</h5>
                                    <p class="card-text">Bei einem Restaurantbesuch isst man seine Portion häufig nicht ganz auf und es bleiben Reste übrig, die im Mülleimer landen würden. In jedem Restaurant kann man sich diese Reste einpacken lassen und mit nach Hause nehmen. Auch am nächsten Tag schmecken die Gerichte bei richtiger Lagerung und Zubereitung noch hervorragend.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-4">
                                  <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="assets/banane.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Die inneren Werte zählen</h5>
                                      <p class="card-text">Nur weil eine Gurke etwas krumm ist, eine Banane schon eine kleine Stelle hat oder es sich um eine Zwillingsmöhre handelt, die Lebensmittel schmecken trotzdem noch gut und sollten eingekauft werden! Unfassbar viele Lebensmittel werden gerade in Deutschland leider einfach nur deshalb verschwendet, weil sie nicht so gut aussehen.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                      <img class="card-img-top" src="assets/lockangebot.png" alt="Card image cap">
                                      <div class="card-body">
                                          <h5 class="card-title">Keinen Lockangeboten folgen</h5>
                                        <p class="card-text">Werden mehrere Produkte zu einem günstigeren Preis angeboten (z.B. Drei Artikel bekommen, zwei zahlen), dann macht der Kauf nur Sinn, wenn die Lebensmittel auch vor ihrem Verderben verbraucht werden können. Ansonsten endet ein solcher Einkauf lediglich in einer gut gefüllten Mülltonne.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" src="assets/respekt.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Schätze deine Lebensmittel</h5>
                                          <p class="card-text">Bedenke immer, sowohl beim Verbrauch, als auch beim Einkaufen, in deinen Lebensmitteln steckt viel Arbeit, Zeit, Geld und lange Wege, also schätze das Produkt was vor dir liegt!</p>
                                          <div class="d-flex justify-content-between align-items-center">
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card mb-4 box-shadow">
                                          <img class="card-img-top" src="assets/resteverwertung.jpg" alt="Card image cap">
                                          <div class="card-body">
                                              <h5 class="card-title">Resteverwertung</h5>
                                            <p class="card-text">Nutze deine Reste anstatt sie wegzuwerfen, ganz im Sinne unserer App. Koche Gerichte mit den Lebensmitteln, die zuerst wegmüssen.</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                          
                                      <div class="col-md-4">
                                          <div class="card mb-4 box-shadow">
                                            <img class="card-img-top" src="assets/lagerung.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Richtige Lagerung</h5>
                                              <p class="card-text">Für nähere Informationen hierzu bitte <a routerLink="/food-storage">hier</a> klicken.</p>
                                              <div class="d-flex justify-content-between align-items-center">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                          
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                              <img class="card-img-top" src="assets/einkochen.jpg" alt="Card image cap">
                                              <div class="card-body">
                                                  <h5 class="card-title">Lebensmittel länger haltbar machen</h5>
                                                <p class="card-text">Können die Lebensmittel nicht mehr verbraucht werden, bis sie verderben, dann bietet es sich an, diese beispielsweise durch Einkochen oder Einfrieren länger haltbar zu machen.
                                                    Für nähere Informationen hierzu bitte <a routerLink="/food-storage">hier</a> klicken.</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                </div>
                                              </div>
                                            </div>
                                          </div>

            
           

          </div>
        </div>
      </div>
    </div>

   
