img {
    max-width: 100%;
    height: auto;
    display: block;
margin: 0 auto;
}


.blog-body{
    border-radius: 20px;
    background-color: rgb(255, 137, 20);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
}

.card {
    min-height: 675px;
}

.titelbild{
    background-image: url(/assets/lebensmittelverschwendung.jpg);
    background-size: cover;
}

.titeltextbg{

   background-color: rgba(0,0,0,0.5);
}
.textfarbe{
   color: #fff !important;
}



