<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fnt">
  <!-- Brand -->
  <a class="navbar-brand" href=""><img src="/src//assets//logoSpontankueche.png" width="60" height="60"> SpontanKüche</a>

  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Informationen
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/food-storage">Lebensmittellagerung</a>
        <a class="dropdown-item" routerLink="/food-waste">Lebensmittelverschwendung</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Rezepte
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/recipes">Alle Rezepte anzeigen</a>
        <a class="dropdown-item" routerLink="/create-recipe">Rezepte erstellen</a>
      </div>
    </li>

    <li class="nav-item login-btn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item register-btn">
      <a class="nav-link" routerLink="/signup">Registrierung</a>
    </li>
  </ul>
</nav>
<br>



<router-outlet></router-outlet>