<!--The content below is only a placeholder and can be replaced.-->
<div class="container blog-body">
  <section class="jumbotron text-center titelbild">
    <div class="container titeltextbg">
        <h1 class="jumbotron-heading textfarbe">SpontanKüche</h1>
        <p class="lead text-muted textfarbe">Wir möchten im Sinne der Nachhaltigkeit eine Plattform bieten, die es den Leuten ermöglicht den Inhalt ihres Kühlschranks bzw.
          ihre vorhandenen Lebensmittel optimal zu nutzen und das Wegwerfen von Lebensmitteln zu verhindern.
        </p>


  <div class="main-container">

      <div class="searchBackground">
      <div class="searchTitle">Was hast du im Kühlschrank?</div>
      <div class="searchContainer">
      
      <div class="searchInputContainer">
        <input type="text" id="text" [(ngModel)]="name" name="text" required placeholder="Suche nach Zutaten">
      </div>
      <div>
        <button [routerLink]="['/search', name]" type="button" class="btn">Suche</button>
      </div>
   
      </div>
      </div>
      </div>
    </div>
  </section>
  
  <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
           

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.nottingham.ac.uk/ConnectOnline/Images/2017/Pigs-Trotters-350x225.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Soup</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrMtFJLdesWV3na0Z-hJQwDwlJmM5mP7PSGKyhBXsHWNesI5ek" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Chicken</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.nottingham.ac.uk/ConnectOnline/Images/2017/Pigs-Trotters-350x225.jpg" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Ramen</h5>
                  <p class="card-text">This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer class="footer">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
      </footer>
   
