.blog-body{
    border-radius: 20px;
    background-color: rgb(255, 137, 20);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
}
.searchBackground {
    color: #fff;
   
    padding: 50px 10%;
    box-sizing: border-box;
    }
    
    .searchTitle {
    font-size: 28px;
    margin-bottom: 15px
    }
    
    .searchContainer {
    display: flex;
    justify-content: start;
    }
    
    .searchInputContainer {
    width: 80%;
    }
    
    .searchInputContainer input {
    width: 100%;
    padding: 8px 16px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: none;
    outline: none;
    }
    
    .searchContainer button {
    padding: 8px 30px;
    border-radius: 0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border: none;
    }

    .titelbild{
        background-image: url(/assets/regim.jpg);
        background-size: cover;
    }

    .titeltextbg{
    
       background-color: rgba(0,0,0,0.5);
    }
    .textfarbe{
       color: #fff !important;
    }
    .card-text{

        white-space: nowrap;
        width: 100%;                   
        overflow: hidden;              
        text-overflow: ellipsis;

    }