<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E
  </head>

<div class="container blog-body">
  <section class="jumbotron text-center titelbild">
      <div class="container titeltextbg">
          <h1 class="jumbotron-heading textfarbe">Hole dir Inspiration</h1>
          <p class="lead text-muted textfarbe">
            Viel Spaß beim Nachkochen!
          </p>


    <div class="main-container">

        <div class="searchBackground">

        </div>
        </div>
      </div>
    </section>
  <div class="album py-5 bg-light">

<div class="container blog-body" *ngIf="recipe">
  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"></h1>
        <h1 class="jumbotron-heading">{{recipe.title}}</h1>
      
    
  <div class="main-container">
       <!-- <div class="searchBackground">
      <div class="searchTitle">FIND A LEFTOVER FOOD RECIPE</div>
      <div class="searchContainer">
      <div class="searchInputContainer">
      <input type="text" placeholder="Suche nach Zutaten">
      </div>
      <div>
      <button class="btn">Suche</button>
      </div>
      </div>
      </div>
      </div> -->
    </div>
    </div>

  </section>
  
  <div id="products" class="row view-group">
      <div class="item col-xs-8 col-lg-8">
          <div class="thumbnail card">
            
            <div class= "miner">
            <img class="group list-group-image img-fluid mine" src="" alt="" />
            <div class="image-info"  >
                <br>
                <ul>User: {{recipe.user_id}}</ul>
                <ul>Erstellungsdatum: 28.09.2019  </ul>
                <ul>Zutaten: </ul>
                <ul>Wie hat dir dieses Rezept gefallen?</ul>
                <ul><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></ul>
              </div>
            </div>
              <div class="caption card-body">
                  <h4 class="group card-title inner list-group-item-heading">
                      {{recipe.title}}</h4>
                  <p class="group inner list-group-item-text">
                    {{recipe.instruction}}</p>
                  
              </div>
      
              </div>
          </div>
      </div>
</div>

</div>
</div>