<div class="container blog-body">
  <section class="jumbotron text-center titelbild">
      <div class="container titeltextbg">
          <h1 class="jumbotron-heading textfarbe">Lade dein eigenes Rezept hoch</h1>
          <p class="lead text-muted textfarbe">
            Vielen Dank für dein Engagement!
          </p>
  
  
    <div class="main-container">
  
        <div class="searchBackground">
        
        </div>
        </div>
      </div>
    </section>
  <div class="album py-5 bg-light">
    



<div class="container recipe-body" style="text-align:center" [hidden]="submitted">
<h1>Wir freuen uns auf ein leckeres Rezept von dir!</h1>
<br>

<form (ngSubmit)="createRecipe()" #createRecipeForm="ngForm">
  <div class="form-group">
    <label for="title">Rezeptname</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Bitte eine Eingabe machen.
    </div>
  </div>
  <table id="myTable" class=" table order-list">
    <thead>
        <tr>
            <td>Name</td>
            <td>Menge</td>
            <td>Maßeinheit</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ingredient of model.ingredients; let index = index;">
            <td class="">
                <input type="text" name="name{{index}}" [(ngModel)]="model.ingredients[index].name" class="form-control" />
            </td>
            <td class="">
                <input type="text" name="quantity{{index}}" [(ngModel)]="model.ingredients[index].quantity"  class="form-control"/>
            </td>
            <td class="">
                <input type="text" name="measure{{index}}" [(ngModel)]="model.ingredients[index].measure"  class="form-control"/>
            </td>
            <td class="">
              <a class="deleteRow" class="btn btn-warning" value="Zutat entfernen"(click)="deleteIngredient(model.ingredients[index])">Zutat entfernen</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block" id="addrow" value="Zutat hinzufügen" (click)="addIngredient()"/>
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
  </table>


  <div class="form-group">
    <label for="instruction">Zubereitung</label>
    <input type="text" class="form-control2" id="instruction" required [(ngModel)]="model.instruction" name="instruction" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Bitte fügen Sie einen Text zur Zubereitung ein.
    </div>
  </div>
    Bild hinzufügen
  <div id="preview" class="preview">
    <img src="" >
  </div>
    <input type="file" (change)="onFileChange($event)" placeholder="Hochladen">
  <button type="submit" class="btn btn-success" style="background-color:#D64E3E; border:none">Rezept hochladen</button>
  <br>
  <br>
</form>
</div>




<div [hidden]="!submitted">
<h2>
  Du hast die folgende Eingabe vorgenommen:
</h2>
<div class="row">
  <div class="col-xs-3">Titel</div>
  <div class="col-xs-9  pull-left">{{ model.title }}
  </div>
  <div class="row">
    <div class="col-xs-3">Beschreibung</div>
    <div class="col-xs-9  pull-left">{{ model.instruction }}
    </div>



    <br>
    <button class="btn btn-primary" (click)="submitted=false">Bearbeiten</button>
  </div>
</div>
</div>


</div>
</div>
