

.form-control2 {
    display: block;
    width: 100%;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.recipe-body {
    margin-top: 100px;
}

h1{
    text-align: center;
}


.ngcontent{

    width:none;
}

.blog-body{
    border-radius: 20px;
    background-color: rgb(255, 137, 20);
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    margin-bottom: 30px;
}

.titelbild{
    background-image: url(/assets/rezept.jpg);
    background-size: cover;
}

.titeltextbg{

   background-color: rgba(0,0,0,0.5);
}
.textfarbe{
   color: #fff !important;
}

